section.about-beef
	.container
		.about-beef__wrapper
			img.about-beef__image(src="img/about-beef-icon.png")
			.about-beef__info
				h2.about-beef__title Японская мраморная говядина Вагю
				span.about-beef__info (Префектура Хёго, Япония, категория А5)
				p.about-beef__text Японская говядина Вагю — настоящий деликатес, оставляющий после себя яркое послевкусие. Является одним из лучших натуральных диетических продуктов в мире.
				p.about-beef__text Несмотря на видимую жирность, мясо, обогащенное ненасыщенными кислотами омега-3 и омега-6, очень полезно для сердечно-сосудистой системы.
				p.about-beef__text Легко превращает лишний жир и углеводы в чистую энергию. Содержащийся в ней холин значительно улучшает метаболизм нервных тканей, нормализует обмен жиров и помогает снизить вес.
				p.about-beef__text А еще японская мраморная говядина Вагю — богатый источник витамина В12 и легкоусвояемого железа.
