.main-nav
	.main-nav__left
		a.main-nav__logo.logo
			img(src="img/logo.png" alt="Black Star Burger Prime")
		.main-nav__lang.lang-choice
			a.lang-choice__item.lang-choice__item--active(href="#") Rus
			a.lang-choice__item(href="#") Eng
	.main-nav__wrap
		ul.main-nav__list.site-nav
			li.site-nav__item
				a.site-nav__link(href="#") О нас
			li.site-nav__item
				a.site-nav__link(href="#") Меню
			li.site-nav__item
				a.site-nav__link(href="#") Мероприятия
			li.site-nav__item
				a.site-nav__link(href="#") Акции
			li.site-nav__item
				a.site-nav__link(href="#") Новости
			li.site-nav__item
				a.site-nav__link(href="#") Галлерея
			li.site-nav__item
				a.site-nav__link(href="#") Гости
			li.site-nav__item
				a.site-nav__link(href="#") Адреса
			li.site-nav__item
				a.site-nav__link(href="#") Бронирование
		ul.side-nav
			li.side-nav__item
				a.side-nav__link.side-nav__link--delivery(href="#") Доставка
			li.side-nav__item
				a.side-nav__link.side-nav__link--bsb-link(href="#") blackstarburger.ru
	button.menu-toggle(type="button") Меню
