section.home-news
	.container
		h2.home-news__title.title <a href="#">Новости</a> Black Star Burger
		ul.home-news__list
			li.home-news-item
				a.home-news-item__link(href="#")
					h3.home-news-item__title Техническое открытие в Нижнем Новгороде
					.home-news-item__text
						| После недавнего триумфального открытия Black Star Burger в Уфе появилась 
						| новость о техническом открытии еще одного соччного мощщного заведения – 
						| в Нижнем Новгороде.
			li.home-news-item
				a.home-news-item__link(href="#")
					h3.home-news-item__title Официальное открытие Black Star Burger в Уфе
					.home-news-item__text
						| Официальное открытие Black Star Burger в Уфе состоялось 4 апреля. Ставшие 
						| традиционными очереди заполонили все свободное пространство на площади рядом 
						| с новым заведением.
			li.home-news-item
				a.home-news-item__link(href="#")
					h3.home-news-item__title Приложение BlackStarBurger
					.home-news-item__text
						| Уже несколько недель исправно функционирует новое приложение сети ресторанов 
						| Black Star Burger. Сервис является одновременно и виртуальной картой лояльности.
