section.main-social
	.container
		ul.main-social__list
			li.main-social__item
				a.main-social__link.main-social__link--instagram(href="#") @blackstarburger
			li.main-social__item
				a.main-social__link.main-social__link--vk(href="#") /blackstarburger
			li.main-social__item
				a.main-social__link.main-social__link--facebook(href="#") /blackstarburger
				