section.catalog
	.container
		h2.catalog__title.title Популярное в нашем <a href="#">меню</a>
		ul.catalog__list.catalog-list
			li.catalog-list__item
				a.catalog-list__link(href="#")
					.catalog-list__preview
						img.catalog-list__img(src="http://placehold.it/290x200" width="290" height="200")
						span.catalog-list__tag.catalog-list__tag--new NEW
					h3.catalog-list__name Цезарь с филе цыпленка
					.catalog-list__prices
						span.catalog-list__price 195 руб.
						span.catalog-list__price.catalog-list__price--old 280 руб.
			li.catalog-list__item
				a.catalog-list__link(href="#")
					.catalog-list__preview
						img.catalog-list__img(src="http://placehold.it/290x200" width="290" height="200")
						span.catalog-list__tag.catalog-list__tag--veg VEG
					h3.catalog-list__name Овощной микс из свежих овощей с базиликом
					.catalog-list__prices
						span.catalog-list__price 260 руб.
						span.catalog-list__price.catalog-list__price--old 290 руб.
			li.catalog-list__item
				a.catalog-list__link(href="#")
					.catalog-list__preview
						img.catalog-list__img(src="http://placehold.it/290x200" width="290" height="200")
					h3.catalog-list__name Китайский салат с курицей и тремя соусами
					.catalog-list__prices
						span.catalog-list__price 240 руб.
						span.catalog-list__price.catalog-list__price--old 280 руб.
			li.catalog-list__item
				a.catalog-list__link(href="#")
					.catalog-list__preview
						img.catalog-list__img(src="http://placehold.it/290x200" width="290" height="200")
						span.catalog-list__tag.catalog-list__tag--new NEW
					h3.catalog-list__name Цезарь с филе цыпленка
					.catalog-list__prices
						span.catalog-list__price 195 руб.
						span.catalog-list__price.catalog-list__price--old 280 руб.
			li.catalog-list__item
				a.catalog-list__link(href="#")
					.catalog-list__preview
						img.catalog-list__img(src="http://placehold.it/290x200" width="290" height="200")
						span.catalog-list__tag.catalog-list__tag--veg VEG
					h3.catalog-list__name Овощной микс из свежих овощей с базиликом
					.catalog-list__prices
						span.catalog-list__price 260 руб.
						span.catalog-list__price.catalog-list__price--old 290 руб.
			li.catalog-list__item
				a.catalog-list__link(href="#")
					.catalog-list__preview
						img.catalog-list__img(src="http://placehold.it/290x200" width="290" height="200")
					h3.catalog-list__name Китайский салат с курицей и тремя соусами
					.catalog-list__prices
						span.catalog-list__price 240 руб.
						span.catalog-list__price.catalog-list__price--old 280 руб.
