section.subscribe
	.container
		.subscribe__wrapper
			p.subscribe__text
				| Подпишись и выигрывай билеты на концерты Black Star, забирай призы с автографом звезд, 
				| первым пробуй новинки меню и узнавай об акциях, событиях в Black Star Burger.
			form.subscribe-form
				.subscribe-form__wrapper
					input.subscribe-form__input(type="text" placeholder="Электронная почта")
					input.subscribe-form__input(type="text" placeholder="Телефон")
					button.subscribe-form__button.button(type="submit") Подписаться
			p.subscribe__warning
				| Нажимая на “Подписаться” вы автоматически соглашаетесь с 
				| <a href="#">Пользовательским соглашением</a> и <a href="#">Личной информацией</a>
