extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include includes/main-slider
	include includes/main-catalog
	include includes/about-beef
	include includes/main-news
	include includes/main-social
