.subscribe {
	background-color: $accent;
}

.subscribe__wrapper {
	
}

.subscribe__text {
	color: #fff;
}

.subscribe-form {
	
}

.subscribe-form__wrapper {
	
}

.subscribe-form__input {
	
}

.subscribe-form__button {
	
}

.subscribe__warning {
	color: #fff;
}