footer.main-footer
	.container
	ul.footer-nav
		li.footer-nav__item
			a.footer-nav__link(href="#") О нас
		li.footer-nav__item
			a.footer-nav__link(href="#") Меню
		li.footer-nav__item
			a.footer-nav__link(href="#") Мероприятия
		li.footer-nav__item
			a.footer-nav__link(href="#") Акции
		li.footer-nav__item
			a.footer-nav__link(href="#") Новости
		li.footer-nav__item
			a.footer-nav__link(href="#") Галерея
		li.footer-nav__item
			a.footer-nav__link(href="#") Гости
		li.footer-nav__item
			a.footer-nav__link(href="#") Адреса
		li.footer-nav__item
			a.footer-nav__link(href="#") Бронирование
		li.footer-nav__item
			a.footer-nav__link(href="#") Доставка
	.main-footer__wrapper
		.copyright
			.copyright__text &copy; 2018 Black Star BURGER. Все права защищены!
			.copyright__text Любое использование материалов допускается только с согласия редакции
		ul.footer-social
			li.footer-social__item
				a.footer-social__link.footer-social__link--vk(href="#") ВКонтакте
			li.footer-social__item
				a.footer-social__link.footer-social__link--facebook(href="#") Facebook
			li.footer-social__item
				a.footer-social__link.footer-social__link--instagram(href="#") Instagram